<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqMvTyHy7TDleI3KThr3QqZc6Td4RaUxE</string>
	<key>GCM_SENDER_ID</key>
	<string>577703133753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hw4</string>
	<key>PROJECT_ID</key>
	<string>hw04-bac26</string>
	<key>STORAGE_BUCKET</key>
	<string>hw04-bac26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577703133753:ios:d842c7d415ed9df82783e8</string>
</dict>
</plist>